/*.button {
    background-color: #0278fe;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #ffffff;
    padding: 13px 40px;
    margin: 0 16px 0;
    text-decoration: none;
}*/

.button {
    background-color: #0278fe;
    color: #fefefe;
    text-decoration: none;
    display: inline-block;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    -webkit-appearance: none;
    cursor: pointer;
  }

  @media screen and (min-width: 1024px) {
    .button:hover {
        background-color: #0063d2;
        }
  }

  