/* Hey, Marina. Thank you so much for your work and helpful comments (this is the best review I've had so far). Unfortunately I found a problem, because the platform doesn't accept the aspect-ratio property (apparently automatic test was created long time ago and hasn't updated according nowadays rules), and for me using this property was the only way to keep all the design conditions and not to lose the proportional resizing of the picture (if not using position absolute etc...). In order not to waste any more time and send the project for review - this property is now disabled (lines 9, 60 and 78 are commented out). Please plug them back in before checking, because I have no other way how to submit it now.  */

.cover {
  max-width: 1184px;
  width: 100%;
  margin-bottom: 64px;
}
.cover__container {
  position: relative;
  z-index: 1;
  /* aspect-ratio: 160/127; */
  background-image: url(../images/cover.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__content {
  z-index: 1;
}

.cover__title {
  margin: 0 0 16px;
  padding: 0;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.1875rem;
}
.cover__subtitle {
  display: block;
  margin: 0 0 16px;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}
.cover__subtitle-span {
  display: block;
}
.cover__button {
  padding: 13px 20px;
}
@media screen and (min-width: 768px) {
  .cover {
    margin-bottom: 88px;    
  }
  .cover__container {
    /* aspect-ratio: 384/373; */
  }
  .cover__title {
    margin-bottom: 32px;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
  .cover__subtitle {
    margin-bottom: 32px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
  .cover__container {
    /* aspect-ratio: 8/5; */
  }
  .cover__container:hover::before {
    opacity: 0.8;
  }
}