.cover {
  position: relative;
  min-height: 254px;
  /* width: 100%; */
  height: 65vw;
  background-image: url(../images/cover.png);
  background-position: center center;
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  width: 100%;
  height: 65vw;
  min-height: 254px;
  display: block;
}

.cover__container {
  position: relative;
  z-index: 1;
}

.cover__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.1875rem;
}

.cover__sibtitle {
  margin-bottom: 16px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

.cover__button {
  padding: 13px 20px;
  /*margin: 0 94px 0 89px;*/
}

@media screen and (min-width: 768px) {
  .cover {
    position: relative;
    margin-bottom: 88px;
  }

  .cover__title {
    margin-bottom: 32px;
    padding: 0 56px;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }

  .cover__sibtitle {
    margin-bottom: 32px;
    padding: 0 244px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    height: 58vw;
    margin-left: calc(-100vw / 2 + 1080px / 2);
    margin-right: calc(-100vw / 2 + 1080px / 2);
    margin-bottom: 92px;
  }

  .cover::before {
    height: 58vw;
  }

  .cover:hover::before {
    opacity: 0.8;
  }
}
