.intro {
    margin-bottom: 90px;
}

.intro__title {
    text-align: left;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.1875rem;
}

.intro__quote {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.intro__quote-author {
    text-align: right;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
}

.intro__text {
    text-align: left;
    font-weight: 400;
    line-height: 1.625rem;
}

